---
interface Props {
  title: string;
  pinnedLabel?: string;
  pageNumber?: string;
}

const { title } = Astro.props;
---

<div class="blog-header blog-is-sticky">
  <div class="blog-article header-article">
    <div class="blog-big__title">{title}</div>
  </div>
</div>
